{% extends "::base.html.twig" %}

{% block title "Regulamente" %} 
    
{% block content %}
          <h2 class="page-header">{{ block('title') }}</h2>

          <div class="table-responsive pre">
              <h3>Regulamente Sports Chanbara</h3>

              <h4>Regulamentul Competiţiilor de Point Fighting</h4>

              <h5>Art. 1. Scopul.</h5>
              <p>
                  Aceste reguli au fost concepute cu scopul de a asigura împãrţirea 
                  şi uniformizarea atât a metodelor de arbitrare cât şi în cele de 
                  judecare a unei competiţii de Kobudo.
              </p>

              <h5>Art. 2. Competiţiile oficiale.</h5>
              <p>
                    Toate competiţiile organizate de la nivel de zonã in sus se vor 
                    numi "competiţii oficiale". Pentru o competiţie oficialã trebuie 
                    sã existe un comitet de organizare.                  
              </p>
              
              <h5>Art. 3. Oficialii competiţiei.</h5>
              <ol>
                  <li>Preşedintele comitetului de organizare.</li>
                  <li>Adjunctul preşedintelui comitetului de organizare.</li>
                  <li>Secretarul comitetului de organizare.</li>
                  <li>Membri ai comitetului de organizare.</li>
                  <li>Corpul de arbitrii.</li>
                  <li>Asistenţa medicalã.</li>
                  <li>Alţi oficiali.</li>               
              </ol>     
              
              <h5>Art. 4. Suprafaţa competiţionalã.</h5>
              <ol>
                  <li>
                      Dimensiunile suprafeţei de luptă sunt de 10 X 10 metri , fiind acoperitã cu saltele.
                  </li>
                  <li>
                      Partea din interior având suprafaţa de 8 x 8 metri, constituie practic suprafaţa de luptã, 
                      restul fiind suprafaţa de siguranţã. Distincţia dintre cele douã suprafeţe se face 
                      prin faptul cã sunt de culori diferite.
                  </li>          
              </ol>      
              
              <h5>Art. 5. Combatanţii.</h5>
              <ol>
                  <li>
                      Combatanţii trebuie să fie echipaţi cu echipament corespunzator competiţiilor oficializate 
                      de federaţie.
                  </li>
                  <li>
                        Combatanţii trebuie sã poarte cascã de protecţie, protecţie dentarã, mãnuşi Point Fighting 
                        (tip karate), cochilie, şi opţional: tibiere şi protecţii pentru metatarsiene. 
                        Fetele trebuie sã poarte pe lângã cele menţionate şi protecţie pentru sâni.
                  </li>          
              </ol>  
              
              <h5>Art. 6.</h5>
              <p>
                  Este interzisã utilizarea de substanţe chimice anabolizante, droguri sau alte substanţe dopante de cãtre sportivi.
              </p>
              
              <h5>Art. 7. Categoriile competiţionale.</h5>
              <ol>
                  <li>
                     De varstă:
                      <ol>
                          <li>
                              1. Copii
                              <ul>
                                  <li>6 -- 7 ani</li>
                                  <li>8 -- 9 ani</li>
                                  <li>10 – 11 ani</li>
                                  <li>12 – 13ani</li>
                                  <li>14 – 15ani</li>
                                  <li>Competiţii noncontact-semicontact.</li>
                              </ul>
                          </li>
                          <li>
                              1. Juniori
                              <ul>
                                  <li>16 -- 17 ani</li>
                                  <li>Competiţii semicontact.</li>
                              </ul>
                          </li>    
                          <li>
                              1. Seniori
                              <ul>
                                  <li>+18 ani</li>
                                  <li>Competiţii contact.</li>
                              </ul>
                          </li>                             
                      </ol>
                  </li>  
                  <li>
                      Categoriile de greutate:
                      <ol>
                          <li>
                                Atât pentru masculin cât şi pentru feminin se vor realiza categorii 
                                de greutate uşoară, mijlocie şi grea, pornindu-se de la categoria 
                                cea mai mică (ex; –30 kg), ele formându-se progresiv din 5 în 5 kg, 
                                până la formarea ultimei categorii.
                                Sportivii care nu se încadreazã la una din categoriile de greutate, 
                                formate după criteriile de mai sus, vor fi repartizaţi la una din 
                                categoriile imediat urmãtoare.
                                În cazul în care la una din categorii nu sunt înscrişi minim 4 sportivi, 
                                care să formeze o categorie, aceştia vor fi repartizaţi la categoria imediat urmãtoare.
                                Dacă diferenţa de greutate este mai mare de 10 kg faţă de categoria 
                                de vârstă la care este înscris, înscrierea se va face în funcţie de greutate, 
                                la cea mai apropiată categorie de greutate, nu de vârstă, cu menţiunea că nici 
                                un sportiv de la categoria copii nu poate lupta la categoria juniori, după cum 
                                nici un sportiv de la categoria juniori nu poate lupta la categoria seniori.
                          </li>                          
                      </ol>
                  </li>                  
              </ol>  

              <h5>Art. 8. Clasificarea competiţiilor.</h5>              

1. Competiţii individuale, la care participă competitori ai aceleiaşi categorii.
2. Competiţii pe echipe având următorul sistem: (3+1 rezervă) – sistem open.
3. Competiţii open – farã limitã de greutate.

Art. 9. Durata luptei.
Lupta se desfăşoară într-o reprizã de 3 minute de lupta efectivã. În cazul în care scorul este egal, lupta se prelungeşte cu încã o reprizã de 2 minute. Dacã şi în urma acestei reprize egalitatea continuã, arbitrii sunt obligaţi sã desemneze un câştigător.

Art. 10. Tragerea la sorţi.
1. Se efectueazã cu cel mult o zi înaintea desfaşurării competiţiei în prezenţa oficialilor federaţiei şi a reprezentanţilor participanţilor.
2. Tragerea la sorţi se efectueazã începând cu categoria uşoarã şi se încheie cu categoria grea sau supergrea.
3. Oficialii prezenţi la tragerea la sorţi vor efectua procedura şi în numele celor absenţi.

Art. 11. Cântărirea.
1. Fiecare participant trebuie sã aibã viza medicalã în paşaportul sportiv şi asigurare medicalã împotriva accidentãrilor. Dupã ce sunt verificate viza medicalã şi asigurarea, sportivul va fi examinat obligatoriu de cãtre medicul competiţiei. Cu aprobarea acestuia, sportivul îşî poate face cântãrirea.
2. Sportivii vor fi cântăriţi cu cel mult o zi înaintea începerii competiţiei (cu minimul necesar pe ei). Timpul de cântãrire va fi fixat de comitetul de organizare.
3. Cântãrirea se efectueazã o singură datã, însã se mai poate acorda o cântãrire oficialã, în funcţie de timpul limitã acordat pentru cântar.
4. Nu se efectueazã cântãriri de control neoficiale pe cântarul oficial.
5. Cântãrirea participanţilor este condusã de o comisie formatã din:
a) un arbitru,
b) un membru al comitetului de organizare,
c) un consemnator.
Antrenorul poate fi prezent, dar el nu trebuie sã tulbure cântãrirea.

Art. 12. Costumul şi echipamentul de protecţie.
1. În timpul luptei, sportivul trebuie sã poarte în mod obligatoriu echipamentul de protecţie menţionat anterior.
2. Culoriile protecţiilor pentru cei doi combatanţi vor fi urmãtoarele:
- un luptãtor protecţii de culoare roşie,
- celãlalt luptãtor, protecţii de culoare neagrã sau albastrã.

Art. 13. Alte prevederi.
1. Juriul (un arbitru de centru, doi arbitrii de colţ şi un arbitru principal) unei competiţii, trebuie sã se concentreze doar asupra competiţiei şi sã nu vorbeascã cu alte persoane. Arbitrii trebuie sã rãmânã pe locurile desemnate, mai puţin când au permisiunea de la arbitrul principal sã-şi pãrãseascã locurile. Arbitrii de colţ vor purta în fiecare mână câte un fanion(steguleţ), de culoare roşie respectiv alb (albastu), corespunzător fiecărui sportiv, cu care va confirma, sau infirma, arbitrului de centru decizia sa. Arbitrul de centru va opri meciul la fiecare punctare a unuia din combatanţi, şi cu acordul (în raport de minim 2 la 1) arbitrilor de colţ , va indica decizia pentru sportivul respectiv.
2. Luptãtorul se va familiariza cu regulile competiţiei şi va adopta o atitudine serioasã în concurs.
3. Un concurent va respecta şi va da ascultare deciziilor arbitrilor (juriului). Orice contestaţie va fi depusã in faţa şefului arbitrilor împreunã cu o taxă de 10 Euro (plata se face in lei la cursul oficial BNR). Contestaţia se poate depune într-un interval de timp de 15 minute de la încheierea partidei. Contestaţia poate fi depusã doar de cãtre antrenorul respectivului luptãtor sau de cãtre delegatul sportiv al clubului din care face parte.
4. Antrenorul luptãtorului va ramâne pe locul stabilit şi va pãstra tot timpul o atitudine decentã.

Art. 14. Procedurile luptei.
I Chemarea luptãtorilor.
Numele luptãtorului va fi anunţat înainte de începerea luptei.
Luptãtorul care nu se va prezenta timp de un minut dupã anunţarea luptei va fi considerat retras.
Luptãtorii vor urma chemarea şi gesturile arbitrului de centru (pentru a începe lupta sau pentru a se opri).

II Deplasarea în suprafaţa de luptă şi ieşirea.
1. Participanţii şi antrenorii vor fi conduşi într-un loc destinat lor. Un participant va intra în suprafaţa de luptă la semnul arbitrului de centru.
2. Dupã încheierea meciului, competitorii şi antrenorii vor pãrãsi locurile unde au stat pe acelaşi drum pe care au intrat.

III Controlul fizic şi al echipamentului.
Dupã ce luptãtorii au intrat în spaţiul de luptã, arbitrul de centru va efectua inspecţia fizicã şi a echipamentului. Aceştia vor trebui sã nu manifeste vreun semn de protest la control şi de asemenea, sã nu deţinã asupra lor materiale ce pot cauza rãnirea celuilalt sportiv.

IV Protocolul în competiţii.
Când au fost introduşi sportivii, ei vor lua poziţia de drepţi şi vor executa salutul spre public, spre arbitrul de centru şi spre adversar.

V Startul şi sfârşitul luptei.
1. La începutul luptei arbitrul de centru va da startul prin comanda "Luptã", iar la sfârşitul luptei se va anunţa oprirea prin comanda "Stop".
2. Când arbitrul de centru spune "Stop", ambele pãrţi vor înceta orice acţiune şi vor pãşi în spate, pe linia de demarcaţie, pentru începerea luptei.
3. În timpul în care una din pãrţi este notatã de arbitru, şi cealaltã parte trebuie sã stea pe linia marcată, pentru începerea luptei de către sportivi.
4. Luptãtorul poate cere "time-out" prin ridicarea mâinii drepte la verticalã numai în cazul în care are probleme cu echipamentul sau este accidentat. Înaintea anunţãrii sfârşitului luptei, participantul nu va pãrasi suprafaţa de luptã (exceptând cazul unei leziuni). El nu-şi va scoate protecţiile (exceptând casca şi protecţia dentarã).
5. Dupã sfârşitul luptei, combatanţii îşi vor relua poziţiile faţã în faţã, se vor saluta la comanda arbitrului, dupã care se vor întoarce spre juriu şi vor aştepta în picioare declararea deciziei.
6. Arbitrul de centru declarã învingãtorul prin ridicarea braţului acestuia.
7. Dupã declararea învingãtorului, cei doi luptãtori se salutã reciproc, salutã arbitrul de centru, publicul, dupã care pãrãsesc suprafaţa de luptã.

Art. 15. Tehnici şi zone de lovire permise.

I Tehnici permise
1. Sunt permise metode de atac şi apãrare specifice competiţiei de Point Fighting.

II Zone de lovire permise.
1. Includ capul, trunchiul şi picioarele.

Art.16. Tehnici nepermise şi zonele interzise lovirii
I Tehnicile nepermise sunt:
a) Orice procedeu tehnic de lovire perpendicular pe coloana vertebralã.
b) Orice procedeu tehnic de lovire a zonei cervicale.
c) Orice procedeu tehnic de lovire cu mâna deschisã sau cu degetele la nivelul gâtului.
d) Lovirea adversarului cãzut din autodezechilibrare.
e) Lovirea adversarului la sol.
f) Lovirea cu capul, cotul sau genunchiul.

II Zone interzise lovirii:
a) Ochii.
b) Zona cervicalã.
c) Gâtul.
d) Zona genitalã.
e) Articulaţiile.

Art. 17. Acte prohibite.
I Penalizarea actelor prohibite va fi anunţatã de cãtre arbitrul de centru.
II În cazul în care sunt comise simultan mai multe acte prohibite, va fi aplicatã penalizarea cea mai gravã.
III Penalizarea actelor prohibite se imparte în:
A. Avertizare. Se acorda în urmãtoarele cazuri:
1. Pasivitatea in luptã mai mult de 8 secunde.
2. Evitarea luptei prin întoarcerea cu spatele cãtre adversar.
3. Atitudini lipsite de spiritul artelor marţiale.
4. Atitudine necorespunzãtoare sau prea zgomotoasã din partea antrenorului.
5. Simularea unei accidentãri.
Avertizarea este un mijloc de atenţionare fãrã influenţarea punctajului.

B. Penalizarea (cartonaş de culoare galbenã). Se acordã în urmatoarele cazuri:
1. Continuarea atacului dupã comanda arbitrului.
2. Atacul dur asupra feţei adversarului cu mănuşa deschisã.
3. Lovirea intenţionatã a zonelor interzise.
4. Cererea unui "time-out" fals.
5. Nerespectarea deciziei arbitrului.
6. Pierderea sau aruncarea protecţiilor ca scop într-o luptã.
7. Folosirea metodelor interzise de atac.
8. Ieşirea din suprafaţa de luptã fãrã acordul arbitrului de centru.
9. Vorbirea în timpul meciului.
10. Lipsa de fair-play.

11. Pasivitatea pentru alte 8 secunde, dupã primul avertrisment.
Penalizarea constã în scãderea unui punct.

C. Eliminare (cartonaş roşu). Se acordã în urmãtoarele cazuri:
1. Aplicarea în mod repetat a tehnicilor prohibite.
2. Fapte grave lipsite de sportivitate şi fair-play.
3. Luptãtorul care rãneşte intenţionat adversarul sau comite o greşealã serioasã va fi descalificat din meci şi din întreaga competiţie.
4. Dacã luptãtorul este avertizat a treia oarã pentru pasivitate.
5. La al doilea cartonaş galben.

Art.18. Metode de punctare

I Victoria absolutã. Se acordã în urmatoarele cazuri:

A. În cazul unei diferenţe de 8 puncte între luptători (ex. 9—1), sau în caz de diferenţã mare de tehnicã între cei doi luptãtori; când unul şi-a pierdut clar abilitatea de a lupta, arbitrul poate, cu acordul celorlalţi arbitrii sã declare "Victorie prin superioritate tehnicã".
B. Victoria prin abandon:
1. Un luptãtor poate fi privit ca abandonat, dacã nu apare dupã ce numele sãu a fost strigat de trei ori de pe lista de chemari întocmitã pentru competiţie sau dacã el a pãrãsit suprafaţa de luptã fãrã permisiune, dupã strigarea listei.
2. În timpul meciului, antrenorul se poate ridica şi semnala abandonul prin aruncarea prosopului în suprafaţa de luptã, semnalând aprobarea sa pentru încetarea luptei.
3. In timpul meciului, luptãtorul poate obţine un abandon datoritã leziunilor sau a altor motive prin ridicarea mainii şi comunicarea abandonului cãtre arbitrul de centru.
C. Victoria prin descalificarea adversarului.

II . Victoria la puncte.
Luptãtorul care obţine cele mai multe puncte la încheierea meciului este declarat învingãtor.
Sistemul de acordare a punctelor este urmãtorul:
A Se acorda 3 puncte în urmãtoarele condiţii:
1. Orice tehnicã de picior care loveşte capul.
2. Orice procedeu tehnic de proiectare a adversarului, cu ramânerea în picioare a celui ce a iniţiat procedeul.
3. Tehnici de dezechilibrare sau proiectare urmate de o tehnicã corectã.

B Se acordã 2 puncte în urmãtoarele situaţii:
1. Lovirea adversarului la trunchi cu orice procedeu tehnic de picior.
2. Lovirea cu pumnul din întoarcere, aplicate pe o parte validă.

C Se acorda 1 punct în urmãtoarele situaţii:
1. Orice tehnică de pumn , mai puţin cele specificate anterior, aplicate la nivel superior şi mediu.

D. Nu se acordã nici un punct în urmatoarele situaţii:
1. Dacã ambii luptãtori se lovesc simultan sau succesiv.
2. Orice acţiune efectuatã dupã semnalul arbitrului.
3. Orice tehnicã efectuatã în blocaj.
4. Tehnici neclare şi lovituri neevidente (moi).

Art. 19. Suspendarea luptei.
Arbitrul de centru va suspenda lupta în oricare din urmãtoarele cazuri:
1. Un luptãtor a cãzut sau a ieşit de pe suprafaţa de luptã.
2. Un luptãtor este notat, avertizat sau penalizat pentru o greşealã.
3. Un luptãtor este rãnit.
4. Luptãtorii sunt blocaţi într-o luptã confuzã mai mult de 3 secunde.
5. Lupta este întreruptã de factori obiectivi ca probleme de iluminare, de spaţiu, sau alte probleme de ordin organizatoric, etc.

Art. 20. Metode de înregistrare.
Arbitrii de margine, urmând criteriile pentru scor, vor nota punctele câştigate şi numãrul de greşeli comise de fiecare luptãtor. La sfârşitul fiecãrui meci, vor introduce scorul fiecãruia într-un scor final.

Art. 21. Câştigãtorul şi învinsul.
Rezultatul fiecãrui meci va fi decis în acord cu decizia datã de cei doi arbitrii de colţ şi a celui principal.

Art. 22. Juriul.
1. Pot fi arbitri de Kobudo persoanele care au experienţã de mai mulţi ani în conducerea competiţiilor şi care au obţinut Certificatul de Arbitru de Kobudo.
2. Indatoriri:
a) Controlul global şi supravegherea atentã a spaţiului de luptã.
b) Confirmarea deciziilor.
c) Evaluarea corectã.
d) Imparţialitatea.

Art. 23. Inregistratorul.
Acesta trebuie sã înregistreze durata meciului, durata timpului din afara luptei şi întreruperile, sã înregistreze şi sã facã publice scorul şi penalitãţile.

Art. 24. Contestaţia.
1. Compunerea comisiei de contestaţii:
a) Pot face parte din aceastã categorie de comisie membrii Biroului Federal sau alte persoane cu suficientã experienţã în Kobudo, recomandate de cãtre preşedinte.
b) Comisia de contestaţii este compusã dintr-un preşedinte şi doi membrii.
c) Preşedintele şi membrii comisiei sunt numiţi de preşedintele federaţiei.
2. Responsabilitãţi: Comisia de contestaţii va verifica corectitudinea hotãrârii de acordare a deciziei în cazul unei contestaţii şi vor lua mãsuri disciplinare asupra oficialilor care au greşit sau au avut comportament ilegal, rezultatele înaintându-se Biroului Federal.
3. Procedura de contestaţie:
a) În cazul unei obiecţii asupra hotãrârii, antrenorul depunde o cerere de reevaluare a deciziei, împreuna cu taxa prevazutã în acest scop, Comisiei de contestaţii în maximum 15 minute de la încheierea luptei.
b) Deliberarea reevaluării va avea loc dupã excluderea membrilor de aceeaşi parte implicatã în contestaţie, iar rezoluţia va fi deliberatã prin majoritate de voturi.
c) Membrii Comisiei de contestaţii vor putea chema juriul şi arbitrii oficiali pentru confirmarea rezultatului.
d) Rezoluţia Comisiei de contestaţii va fi aplicatã definitiv şi fãrã apel.
e) Pentru toate deliberãrile cu privire la contestaţii va fi prevazutã aparatura audio-video.

Art.25. Echipamentul arbitrilor.
A. Arbitrii sunt îmbrãcaţi în camaşã albã, pantaloni negri sau bleumarin, cravatã (papion), în picioare espadrile negre şi în mâini mãnuşi chirurgicale.
B. Arbitrii au în dotare urmãtoarele:
1. Cartonaşe colorate (galben şi roşu). Dimensiunea cartonaşelor este de 8 x 11 cm.
2. Douã cronometre (unul de rezervã).
3. Fişele de arbitraj, foi de represaj, gong etc.

Art. 26. Cheltuielile de arbitraj.
1. Arbitrii invitaţi la o competiţie (care se desfãşoară în alt oraş decât în cel în care îşi au domiciliul) au dreptul la decontarea integralã a cheltuielilor de transport.
2. Organizatorii au obligaţia de a asigura cazarea arbitrilor din provincie, dacã prezenţa acestora este necesarã mai mult de 12 ore în oraşul în care are loc competiţia.

Art. 27. Gesturile arbitrilor de centru.
1. Chemarea luptãtorilor pe suprafaţa de luptã se va face prin întinderea braţelor la nivelul umerilor cu palmele în sus indicând pãrţile combatante şi îndoirea antebraţelor în unghi de 90˚.
2. Semnalul de salut se face de cãtre arbitrul de centru astfel:
a) Cãtre arbitrul principal şi public prin ducerea braţelor înainte, paralele, cu palmele în jos, indicând direcţia de salut.
b) Cãtre arbitrul de centru prin indicarea propriei persoane prin apropierea palmelor cãtre piept.
c) Salutul între sportivi se comandã prin ridicarea braţelor la nivelul umerilor cu palmele în sus şi îndoirea antebraţelor pânã când acestea ajung faţã în faţã la nivelul pieptului.
3. Inceperea luptei se semnalizeazã prin comanda "În gardã". La aceastã comandã luptãtorii iau poziţia de gardã faţã în faţã. Arbitrul se aflã în gardã la mijlocul distanţei dintre cei doi luptãtori, cu faţa cãtre masa oficialã. Semnalul de începere a luptei este dat de cãtre arbitrul de centru printr-o loviturã de pumn înainte şi comanda verbalã "Luptã".
4. Incetarea luptei se face prin comanda verbalã "Stop" şi înaintarea arbitrului de centru care întinde mâna orizontal cu palma verticalã, corespunzătoare piciorului avansat, cãtre combatanţi.
5. Semnalizarea situaţiilor neclare, în care nu s-a punctat se semnalizeazã de cãtre arbitru în mod obligatoriu, prin forfecarea braţelor pe plan orizontal, la nivel mediu.
6. Numãrarea sportivilor aflaţi în dificultate se face de cãtre arbitrul de centru care stã la o distanţã de aproximativ 1 metru, în faţa celui aflat în dificultate. Pentru a numãra, arbitrul ţine palmele strânse, cu dosul pumnului în exterior, la nivelul pieptului şi simultan cu rostirea cifrei se indicã numarul prin desfacerea degetelor, astfel încât sã fie observat foarte clar.
7. Indicarea învingãtorului meciului se face de cãtre arbitrul de centru dupã acordarea deciziei finale prin ridicarea mâinii acestuia.
          </div>

{% endblock %}
