{% extends "KtapBackendBundle::layout.html.twig" %}

{% block title "Create employee"%}

{% block content %}
    <div id="usr_form">
            <h2>Introduceti datele</h2>


    </div>                            
{% endblock %}